.App{
  background-color: #F1F3F6;
  padding:2px;
}
.image-container-wrapper{
  display:flex;
  
}
.main-div{
  background-color: white;
  margin:1%;
  padding:6px;
  border-bottom: 2px solid #ccc;
}
.image-container{
  margin-right: 80px;
}
.content-heading{
  font-size: 12px;
  font-weight: 300;
  border-bottom: 2px solid #F1F3F6;
  padding-bottom: 12px;
  /* margin-top: 44px; */
}
.image-container-wrapper{
  padding-top: 12px;
  
}
.id-text{
  text-align: center;
}
.thumbnail-title{     
  width: 175px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}
